@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html, body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        background-color: #636363;
    }

    footer {
        background-color: #323232;
        margin-top: auto;
        padding: 1rem;
    }
    #groq-logo {
        bottom: 0;
        height: 60px;
    }
}